* {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    border-bottom: 2px solid black;
    background-color: rgb(255, 121, 121);
    padding: 25px;
}

h1 {
    font-size: 2.5em;
    text-align: center;
}

label {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.note {
    font-size: 1.2em;
    min-height: 12px;
    max-height: auto;
    max-width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    overflow: auto;
    border: 2px solid black;
}

.note:hover {
    background-color: #b6b6b6;
}

#notes {
    padding: 15px;
}

#stored-notes-title {
    margin-bottom: 12px;
}

#notes-new {
    padding: 15px;
}

#notes-new textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 150px;
    margin-top: 12px;
}

#notes-buttons {
    padding: 5px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 5px;
}

#notes-buttons button {
    width: 100%;
    padding: 15px;
}

#notes-buttons button:hover {
    fill-opacity: 50%;
}

#stored-notes-title {
    font-size: 1.75em;
    text-decoration: underline;
    text-align: center;
}

#notes-colour-label {
    text-decoration: underline;
    text-align: center;
    margin-top: 12px;
}

#notes-colour-select {
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    justify-content: center;
}